@import './../../styles/color.scss';

.score-board{
    width: 320px;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    div {
        width: 100%;
        color: $color-text;
        text-align: center;
        font-size: 2em;
        padding: 5px;
        font-weight: bold;
        background-color: $color-player-o;
    }
    div:first-child{
        background-color: $color-player-x;
    }
}