@import './../../styles/color.scss';
@import './../../styles/mixin.scss';

.container {
    @include flex-content(flex, column, center, center);
    height: 100vh;
}

.turn-board{
    @include flex-content(flex, row, space-around, center);
    width: 320px;
    margin: 10px 0;
    h2{
        color: $color-text;
    }
}
.button {
    font-size: 22px;
    margin-top: 50px;
    padding: 15px 30px;
    background-color: $color-button;
    color: $color-text;
}